.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-body {
  background-color: #282c34;
  display: flex;
  font-size: calc(2px + 2vmin);
  color: white;
}
section {
  border: 1px solid #898989;
  padding: 1vh;
}
section.left {
  flex: 50%;
  text-align: left
}
section.right {
  flex: 50%;
  text-align: left
}

ul {
  list-style-type: circle;
  list-style-position: outside;
  display:inline-block;
  text-align: left;
}

a:link {
  color: #61dafb;
}
a:visited, a:active {
  color: #898989;
}
a:hover {
  color: white;
}